.left{
  background-image: url('./img/photo.jpg');
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  
}

.h1login{
  color: #33AF84;
}

.fs-1{
  color: #ffffff;
  font-size: 25px;
}

