.left{
  background-image: url('./img/photo.jpg');
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
}

.h1login{
  color: #33AF84;
}

.botonlogin {
  background-color: #33AF84 ;
  border: none;
}

.fs-1{
  color: #ffffff;
  font-size: 25px;
}

/* Tamaño Texto Custom */
.text-25{
  font-size: 25px;
}

.text-200 {
  font-size: 200px
}

/* BG */
.bg-default {
  background-color: #33AF84;
}

/* Color Texto Custom */
.text-white {
 color: white;
}

.text-blue{
  color: #2784D5;
}

.text-whiteblue{
  color: #55C9EE;
}

.pt-200{
  padding-top: 200px;
}



